@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply m-auto max-w-6xl pr-2 pl-2 w-full
}

body {
  background-color: #072B4F;
  /* font-family: taj; */
}


/* Paginations in swiper */
.swiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.swiper .swiper-pagination-bullet-active {
  width: 56px;
  background-color: #cf4899;
  border-radius: 16px;
}

/* Pagination in matchs */

.ant-pagination .ant-pagination-item a {
  color: #fff
}

.ant-pagination .ant-pagination-item-active a {
  color: #000;
}

.ant-pagination .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination .ant-pagination-next .ant-pagination-item-link {
  color: #fff;
  transform: rotate(180deg);
}


/* Loader */
.main-fader .loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-fader .loader svg {
  height: 200px;
  display: block;
  margin: 0 auto;
}

.main-fader .loader svg path {
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  color: #26a380;

  &.path-7 {
    animation-delay: -1s
  }

  &.path-6 {
    animation-delay: -.875s
  }

  &.path-5 {
    animation-delay: -.75s
  }

  &.path-4 {
    animation-delay: -.625s
  }

  &.path-3 {
    animation-delay: -.5s
  }

  &.path-2 {
    animation-delay: -.375s
  }

  &.path-1 {
    animation-delay: -.25s
  }

  &.path-0 {
    animation-delay: -.125s
  }
}

@keyframes pulse {
  0% {
    opacity: .1;
  }

  30% {
    opacity: .8;
  }

  100% {
    opacity: .1;
  }
}