@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply m-auto max-w-6xl pr-2 pl-2 w-full
}

body {
  background-color: #072B4F;
  /* font-family: taj; */
}


/* Paginations in swiper */
.swiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.swiper .swiper-pagination-bullet-active {
  width: 56px;
  background-color: #cf4899;
  border-radius: 16px;
}